/* Estilos Gerenales de Toda la WEB*/
h1 {
    Color: blue;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}
#poco{color: blueviolet;}

p {
    font-size: small;
    border-color: blanchedalmond;
    color: blue;

}

li {
    color-scheme: rgb(193, 6, 240);
}

#caja {
    background-color: blue;
    height: fit-content;
    width: fit-content;
}

/*Estilos Div de la foto */

#foto {width: 5cm;
    height: 5cm;
}
#body {
background-image: ;    
}